* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

//COLORES
:root {
    --color-primario: #191d2b;
    --color-secundario: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-gris-0: #f8f8f8;
    --color-gris-1: #dbe1e8;
    --color-gris-2: #b2becd;
    --color-gris-3: #6c7983;
    --color-gris-4: #454e56;
    --color-gris-5: #2a2e35;
    --color-gris-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2);
}

body {
   background-color: var(--color-primario);
   font-family: 'Poppins', sans-serif;
   font-size: 1.1rem;
   color: var(--color-white);
   transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

//HOME
header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
    padding: 0 !important;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.container {
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primario);
}

.active {
    display: block;
    animation: appear 0.8s ease-in-out;
    transform: translateY(0) scaleY(1);
    @keyframes appear {
        0% {
            transform: translateY(-100%) scaleY(0);
        }
        100% {
            transform: translateY(0) scaleY(1);
        }
    }
}

//CONTROLES NAVBAR
.controles {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .activo {
        background-color: var(--color-secundario) !important;
        transition: all .4s ease-in-out;
        i {
            color: var(--color-white) !important;
        }
    }
    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-gris-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        i {
            font-size: 1.2rem;
            color: var(--color-white);
            pointer-events: none;
        }
    }
}

//CONTENIDO HOME
.header-content {
display: grid;
grid-template-columns: repeat(2, 1fr);
height: 100%;
	.left-header {
		display: flex;
		align-items: center;
		position: relative;
		.h-shape {
			transition: all .4s ease-in-out;
			width: 65%;
			height: 100%;
			background-color: var(--color-secundario);
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
			}
			.image {
				border-radius: var(--br-sm-2);
				height: 70%;
				width: 55%;
				margin-left: 7rem;
				//background-color: black;
				transition: all .4s ease-in-out;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: all .4s ease-in-out;
                    border-radius: 30px;
					filter: grayscale(100%);
					&:hover {
						filter: grayscale(0);
					}
				}
			}
		}
  .right-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: 18rem;
		.name {
			font-size: 2.5rem;
			span {
				color: var(--color-secundario);
			}
		}
		p {
			margin: 1.5rem 0;
			line-height: 2rem;
		}
	}
}


//SECCION PROYECTOS
.project-description {
    text-align: center;
    margin-top: 5rem;
}


//SECCION CONTACTO
.contact-content-container {
    display: flex;
    padding-top: 2rem;
     .left-contact {
        flex: 2;
        h4 {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }

        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {
            .contact-item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }

                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;

                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .contact-icon {
            display: flex;
            margin-top: 2rem;
            a {
                display: flex;
                align-items: center;
                color: var(--color-white);
                background-color: var(--color-gris-5);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;
                &:hover {
                    background-color: var(--color-secundario);
                }

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                    
                }
            }
        }
    }

    .right-contact {
        flex: 3;
        margin-left: 3rem;
        .input-control {
            margin: 1.5rem;
            input, textarea {
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: 0.8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-gris-5);
                width: 100%;
                color: var(--color-white);
                resize: none;    

            }
        }
      
      .submit-btn {
            margin-left: 1.5rem;
            display: flex;
            justify-content: flex-start;
        }
    }
}

//FIRMA PIE DE PAGINA
.signature {
    text-align: center;
    margin-top: 5rem;
}

//COMPONENETES INDEPENDIENTES
.btn-con {
display: flex;
align-self: flex-start;
}
.main-btn {
border-radius: 30px;
color: inherit;
font-weight: 600;
position: relative;
border: 1px solid var(--color-secundario);
display: flex;
align-self: flex-start;
align-items: center;
overflow: hidden;
	.btn-text {
	padding: 0 2rem;
	}
	.btn-icon {
	background-color: var(--color-secundario);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 1rem;}
	&::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
  transition: all .4s ease-in-out;
	z-index: -1;
	}
	&:hover {
		&::before {
		width: 100%;
		height: 100%;
		background-color: var(--color-secundario);
		transform: translateX(0);
    transition: all .4s ease-in-out;
		}
	}
}

    .main-title {
        text-align: center;
        h2 {
            position: relative;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 700;
            span { color: var(--color-secundario); }
            .bg-text {
                position: absolute;
                top: 50%;
                left: 50%;
                color: var(--color-gris-5);
                transition: all .4s ease-in-out;
                z-index: -1;
                transform: translate(-50%, -50%);
                font-weight: 800;
                font-size: 6.3rem;
            }
        }
    }




